<div class="mt-3">
  <div class="display-6">
    Formulário de Cadastro:
  </div>
  <div *ngIf="product" class="row">
    <div class="col-md-10 offset-md-1">
      <form #CreatingForm="ngForm">
        <div *ngIf="product?.id" class="row mb-3 mt-3">
          <label for="inputId" class="col-sm-2 col-form-label">Id:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inputId" id="inputId" [(ngModel)]="product.id" disabled>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="product.name" required>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <label for="inputDescription" class="col-sm-2 col-form-label">Descrição:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inputDescription" id="inputDescription" [(ngModel)]="product.description" required>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <label for="inputPrice" class="col-sm-2 col-form-label">Preço:</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" name="inputPrice" id="inputPrice" [(ngModel)]="product.price" required>
          </div>
          <label for="selectCategory" class="col-sm-2 col-form-label">Categoria:</label>
          <div class="col-sm-4">
            <select class="form-select" aria-label="Selecione uma categoria" id="selectCategory" name="categorie" [(ngModel)]="product.category" [compareWith]="selectedCategory" required>

              <option *ngFor="let category of categories" [ngValue]="category">
                {{category.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <label class="col-sm-2 col-form-label">Opções:</label>
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkBoxPromotion" name="isPromotion" [(ngModel)]="product.promotion">
              <label class="form-check-label" for="checkBoxPromotion">
                Promoção
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkBoxNewProduct" name="isNewProduct" [(ngModel)]="product.newProduct">
              <label class="form-check-label" for="checkBoxNewProduct">
                Lançamento
              </label>
            </div>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <div class="col-sm-4">
            <button *ngIf="isEditing" type="submit" class="btn btn-success" name="edit" (click)="editProduct()" [disabled]="CreatingForm.invalid">Editar</button>
            <button *ngIf="!isEditing" type="submit" class="btn btn-primary" name="test" (click)="save()" [disabled]="CreatingForm.invalid">Cadastrar</button>
            <button type="button" class="btn btn-danger ms-2" name="cancel" (click)="cancel()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>